.video, .html5_player, .html5_player video{
	width:845px !important;;
	height:505px !important;
}
.html5_player{
	margin-left:50px !important;
	margin-bottom:10px !important;
}
.video_stuff{
	float:left !important;
	margin-top:20px !important;
	margin-left:50px !important;
}

.description_container {
	width: 550px !important;
	margin-left: 350px !important;
	margin-top: -380px !important;
	position: relative !important;
}